
/* =============================  Main Navbar Styling ====================================== */

.navbar {
  background-color: rgb(165, 141, 212);
}

.navbar .nav-link {
  color: cornsilk;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: rgb(167, 238, 144);
}


/* =============================  Homepage/Introduction page  ================================ */

#Intro-section {
  margin-top: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  max-width: 35rem;
  min-height: 15rem;
  border-radius: 10px;
  background-color: azure;
}

#Intro-section .col {
  margin: 30px 10px 30px 10px;
}


/* =======================  Signup and Login page Section Styling ============================= */

.form-section .container {
    margin-top: 70px;
    max-width: 28rem;
    min-height: 18rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 50px 20px 50px;
}

.form-section form {
    margin-top: 50px;
}

.form-section .form-control {
    margin-top: 8px;
}

.form-section .btn {
    margin-top: 10px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #667eea, #764ba2);
    font-weight: 600;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 25px;
  }
  
  .remember {
    display: flex;
    align-items: center;
  } 

  .remember input {
    margin-right: 8px;
  }
  
  .forgot-password {
    color: #667eea;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }

.signup-link {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  .signup-link a {
    color: #667eea;
    text-decoration: none;
    font-weight: 600;
  }

  .signup-link a:hover {
    text-decoration: underline;
  }

/* ===========================  Chat Group Section Styling ================================= */

#chat-group-section .container {
  margin-top: 100px;
}


/* ==============================  Chat Section Styling  =================================== */

#chat-section .container {
  margin-top: 100px;
  margin-bottom: 50px;
}

#chat-section .message-box {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll;
}

