{% extends 'core/base.html' %}
{% block content %}
    <div class="container" id="Intro-section">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <h2>Chat App</h2>
            <h3>Welcome to Real-Time Conversations</h3>
            <p>
              Join multiple chat rooms and engage in real-time discussions. Connect with friends, colleagues, or communities in dedicated spaces. Start chatting now!
            </p>
          </div>
          <div class="d-flex justify-content-center gap-2">
            <a href="{% url 'core:signup' %}" class="btn btn-primary">Sign up</a>
            <a href="{% url 'core:login' %}" class="btn btn-success">Log in</a>
          <div>
        </div>
      </div>
    </div>
{% endblock %}
    