{% extends 'core/base.html' %}
{% block content %}
    <section class="form-section">
        <div class="container">
            <div class="row">
                <div class="col bg-light">
                    <h2>Log In</h2>
                    <span class="text-muted">Please enter your credentials to continue</span>
                    <form method="post" action=".">  {% csrf_token %}
                        {{ form.as_p }}
                        <div class="remember-forgot">
                            <div class="remember">
                                <input type="checkbox" id="remember">
                                <label for="remember">Remember me</label>
                            </div>
                            <a href="#" class="forgot-password">Forgot Password?</a>
                        </div>
                        <button type="submit" class="btn btn-primary">Log In</button>
                        <div class="signup-link">
                            Don't have an account? <a href="#">Sign up</a>
                          </div>

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="form_errors">
                                        <p>{{ error|escape }}</p>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}