{% extends 'core/base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col border border-dark rounded bg-light p-3" style="max-width:28rem;">
            <div class="mb-2 p-2">
                <h3>Chat app</h3>
                <div class="text-center my-2 p-2">
                    <h5 class="text-muted mb-0">Create an Account</h5>
                    <h4>Sign up to Chat App</h4>
                </div>
            </div>
            <form method="post" action=".">  {% csrf_token %}
                <div class="my-3">
                    <label class="form-label" for="id_username">Username:</label>
                    {{ form.username }}
                </div>
                <div class="my-3">        
                    <label class="form-label" for="id_password1">Password:</label>
                    {{ form.password1 }}
                </div>
                <div class="my-3">
                    <label class="form-label" for="id_password2">Confirm Password:</label>
                    {{ form.password2 }}
                </div>
                <div class="my-2 pt-2 border-top">
                    <button type="submit" class="btn btn-info my-2">Sign Up</button>
                </div>
                <small>Have an account? <a href="{% url 'core:login' %}" class="link-info">Sign in</a>

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="form_errors alert alert-danger my-2">
                                <p>{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}