{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<section id="chat-section">
    <div class="container">
        <div class="row">
            <div class="col-12 border position-relative" id="chat-messages">
                <div class="message-box">
                {% for message in messages %}
                    {% if message.user == request.user %}
                    <div class="send mb-4 d-flex gap-1 align-items-start">
                        <div class="me-2">
                            <img src="{{ message.user.profile.picture.url }}" class="rounded-circle" alt="{{ message.user }}" width="40" height="40">
                        </div>
                        <div class="flex-shrink-1 bg-light rounded py-2 px-3">
                            <div class="fw-bold mb-1">You</div>
                            {% if message.message_type == 'image'%}
                                <img src="{{ message.file.url }}" alt="{{ message.content|default:'Image' }}">
                            {% elif message.message_type == 'file'%}
                                <a href="{{ message.file.url }}" download>{{ message.content|default:'File' }}</a>
                            {% else %}
                                <p>{{ message.content }}</p>
                            {% endif %}
                            <div class="text-muted small text-nowrap mt-2">{{ message.date_added }}</div>
                        </div>
                    </div>
                    
                    {% else %}
                    <div class="receive pb-4 d-flex gap-1 align-items-start">
                        <div class="ms-2">
                            <img src="{{ message.user.profile.picture.url }}" class="rounded-circle mr-1" alt="{{ message.user }}" width="40" height="40">
                        </div>
                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                            <div class="fw-bold mb-1">{{ message.user.username }}</div>
                            {% if message.message_type == 'image'%}
                                <img src="{{ message.file.url }}" class="img-fluid" alt="{{ message.content|default:'Image' }}">
                            {% elif message.message_type == 'file'%}
                                <a href="{{ message.file.url }}" download>{{ message.content|default:'File' }}</a>
                            {% else %}
                                <p>{{ message.content }}</p>
                            {% endif %}
                            <div class="text-muted text-sm text-nowrap mt-2">{{ message.date_added }}</div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="col-12 border">
                <form method="post" action="" enctype="multipart/form-data" id="chat-form">
                    {% csrf_token %}
                    <div class="d-flex gap-2 align-items-center">
                        <input type="text" class="form-control" name="content" id="chat-message-input" placeholder="Send a message...">
                        
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary" type="button" id="attachmentDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-paperclip"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="attachmentDropdown">
                                <li>
                                    <label class="dropdown-item">
                                        <input type="file" name="image" accept="image/*" class="d-none" id="image-upload">
                                        Upload Image
                                    </label>
                                </li>
                                <li>
                                    <label class="dropdown-item">
                                        <input type="file" name="file" accept=".pdf,.doc,.docx,.txt" class="d-none" id="file-upload">
                                        Upload File
                                    </label>
                                </li>
                            </ul>
                        </div>
                
                        <button type="submit" class="btn btn-primary" id="chat-message-submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}

{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script src="{% static 'rooms/js/chat.js' %}"></script>

{% endblock %}